@model SmartRP.Domain.Term

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Term</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TermName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordinatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordinatorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
